
@{
    Layout = null;
}

@model PhotoGallery.Web.Main.Models.LoginView

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <title>login</title>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>

<body ng-app="AccountModule">
    <form ng-submit="ctrl.loginAction(ctrl.loginModel, login.$invalid)" ng-controller="LoginCtrl as ctrl" name="login" id="login" action="" novalidate>
        <h1>Log In</h1>

        <fieldset id="inputs">
            <input ng-model="ctrl.loginModel.email" id="username" type="email" autofocus required placeholder="your email" />
            <input ng-model="ctrl.loginModel.password" ng-keypress="ctrl.emailInput" id="password" type="password" required placeholder="your password" />
        </fieldset>
        <fieldset id="actions">
            <input id="submit" type="submit" value="Log in" />
            <a>Not a member?</a><a href="/account/register">Register now</a>
        </fieldset>
    </form>

    <script type="text/javascript" src="~/Scripts/ts/angular.js"></script>
    <script type="text/javascript" src="~/Scripts/ts/angular-route.js"></script>
    <script type="text/javascript" src="~/Scripts/ts/validator.js"></script>
    <script type="text/javascript" src="~/Scripts/ts/App.js"></script>
    <script type="text/javascript" src="~/Scripts/ts/Account.js"></script>
    <script type="text/javascript" >
        var form = document.getElementById("login");
        form.onsubmit = function (event) {
            event.preventDefault();
        }
        var formValidator = new validation.validator();

        var email = document.getElementById("username");
        email.onkeypress = function (event) {
            return formValidator.validateEmail(event);
        }

    </script>
</body>

</html>

