@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en" ng-app="PhotoGalleryModule">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Gallery of Photos">

    <title>Photo Galleries</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <link href="~/Content/Site.css" rel="stylesheet">

    <!-- Angualr Html 5 mode base Url-->
    <base href="~/" />
</head>

<body ng-controller="GalleryCtrl as ctrl">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button"  id="navbarToggle" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Photo-Art Gallery</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="galleries">Galleries</a>
                    </li>
                    <li>
                        <a href="#">Add Gallery</a>
                    </li>
                    <li>
                        <a href="/account/signout">Sign Out</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

    <ng-view></ng-view>

        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; PhotoGallery 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- angular js-->
    <script type="text/javascript" src="~/Scripts/angular.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-route.js"></script>

    <!-- custom scripts-->
    <script type="text/javascript" src="~/Scripts/App.js"></script>
    <script type="text/javascript" src="~/Scripts/validator.js"></script>
    <script type="text/javascript" src="~/Scripts/GalleryService.js"></script>
    <script type="text/javascript" src="~/Scripts/Account.js"></script>
    <script type="text/javascript" src="~/Scripts/Home.js"></script>
    <script type="text/javascript" >

        var menuButton = document.getElementById("navbarToggle");
        var menu = document.getElementById("navbar-collapse");

        menuButton.onclick = function (event) {
            if (menu.classList.contains("collapse")) {
                menu.classList.remove("collapse");
            } else {
                menu.classList.add("collapse");
            }
        }
    </script>

</body>

</html>
