 <!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Photo Gallery:
            <small>{{ctrl.currentGallery.galleryName}}</small>
        </h1>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <h2>{{ctrl.currentGallery.galleryName}}</h2>
    <div class="col-md-4 portfolio-item" ng-repeat="photo in ctrl.currentGallery.galleryPhotos">
        <a ng-click="{{ctrl.set}}" href="#/galleries/gallery/photo">
            <img class="img-responsive" ng-src="{{photo.photoPath}}" alt="{{photo.photoName}}">
        </a>
        <h3>
            <a href="#">{{photo.photoName}}</a>
        </h3>
        <p>{{photo.photoDiscription}}.</p>
    </div>
</div>

<a href="#/galleries">back</a>